html
    head
        script(src='/js/jquery.min.js', type='text/javascript')
        script(src='/js/jquery-ui.js', type='text/javascript')
        script(src='/js/add-dialog.js', type='text/javascript')
        script(src='/js/bootstrap.js', type='text/javascript')
        script(src='/js/dashboard.js', type='text/javascript')
        link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='/css/pool.css')
    body
        .container-fluid
            .navbar
                .navbar-inner
                    .brand
                        a.jumbo(href='/') Rideboard
                    ul.nav.pull-center
                        li 
                            a.big(href='/' + eventId) #{event_data.event_name}
                        li 
                            a.big |
                        li 
                            a.big #{event_data.event_location}
                        li 
                            a.big |
                        li 
                            a.big #{event_data.event_date} #{event_data.event_time}
                    ul.nav.pull-right
                        li
                            a#add-passenger(href='#') Add
            .alert.alert-error.full-car That car is already full. Please choose another. 
                button.close(type='button', data-dismiss='alert') x
                
            .driver-pool
                h3 Cars
                - var drivers = event_data.drivers;
                for driver in drivers
                    if driver != null && driver.isDriver === 'Yes'
                        .car(data-li-seats=driver.seats, driverName=driver.username)
                            .driver
                                p Driver: #{driver.username}
                                p Total Seats: #{driver.seats}
                            .passengers.draggable Passengers:
                                - var riders = event_data.riders;
                                    for rider in riders
                                        if rider != null && rider.driver === driver.username
                                          .rider
                                              span.username #{rider.username} 
                                              span.phone #{rider.phone}
            .rider-pool.draggable
                h4 People Who Need Rides
                br
                - var riders = event_data.riders;
                for rider in riders
                    if rider != null && rider.isDriver === 'No' && rider.driver === ''
                      .rider
                          span.username #{rider.username} 
                          span.phone #{rider.phone}
                br
                img.delete.draggable(src='/img/trash.png') 
            div#dialogModal.modal.hide.fade(tabindex='-1', role='dialog', aria-lablledby='dialogModalLabel', aria-hidden='true')
                form#newUserForm(action='/' + eventId + '/newUser', method='post')
                    div.modal-header
                        h3 Add a participant
                    div.modal-body
                        div#modal-form 
                            div#name-input
                                span Name  
                                span.float-right
                                    input.text-input(id='name', type='text', name='username')
                            br
                            br
                            div#phone-input
                                span Phone Number 
                                span.float-right
                                    input.text-input(id='phone', type='text', name='phone')
                            br
                            br
                            div#isDriver-input
                                span Are you driving?
                                span.float-right
                                    select(id = 'isDriver', name='isDriver')
                                        option No
                                        option Yes
                            br
                            br
                            div#seats-input
                                span Seats
                                span.float-right
                                    input.text-input(id='seats', type='text', name='seats')
                    div.modal-footer
                        a#dialog-close.btn.btn(href='#') Close
                        button#dialog-save.btn.btn-primary(type='submit') Save changes
                    input(type='hidden', value=eventId, name='eventId')
                    input(type='hidden', value='', name='driver')
